{{//bug here}}


<!-- binds that are have a defined parser Error (working): -->
  <!-- {{}}  -->
    <!-- Error: src/app/app.component.html:16:1 - error NG5002: Parser Error: Blank expressions are not allowed in interpolated strings -->

  <!-- {{/*hello*/}} -->
    <!-- Error: src/app/app.component.html:9:1 - error NG5002: Parser Error: Unexpected token / -->

  <!-- {{#!/usr/bin/env node}} -->
    <!-- Error: src/app/app.component.html:11:1 - error NG5002: Parser Error: Lexer Error: Invalid character [#] -->
    <!-- Error: src/app/app.component.html:11:1 - error NG5002: Parser Error: Unexpected token Lexer Error: Invalid character [#] -->
